@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap");

.navegacao {
  padding: 2.5rem;
  position: fixed;
}

.navegacao > img {
  margin-bottom: 3rem;
}

.navegacao > menu {
  padding: 0.5rem;
}

.navegacao > menu > div {
  display: grid;
  grid-template-columns: 2.5rem auto;
  align-items: center;
  cursor: pointer;
  margin-bottom: 2rem;
}

.navegacao > menu a {
  font-family: "Inter";
  color: #cab3ff;
}

.icone {
  margin-right: 1rem;
}

@media(max-width:1200px) {
  .navegacao {
    padding: 1rem;
  }
}

@media(max-width:800px) {
  .navegacao {
    display: none;
  }
}