* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  justify-content: center;
  font-family: "Titillium Web";
}

.container > section {
  width: 50%;
  padding: 40px 5rem 0 112px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container > img {
  width: 50%;
  height: 100vh;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.logo > img {
  margin: 0 0.2rem;
}

h1 {
  font-size: 2.25rem;
}

#error-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 890px) {
  .container > img {
    display: none;
  }
  .container > section {
    width: 75%;
  }
  .container {
    font-size: 0.8rem;
  }
  h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 550px) {
  .container > section {
    width: 100%;
    padding: 2rem;
  }
  .container {
    font-size: 0.6rem;
  }
  h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1450px) {
  .container > section {
    align-items: center;
  }
}

/* Navegação */
.containerNav {
  display: grid;
  grid-template-columns: 15rem 1fr;
  background-color: #7c3aed;
  min-height: 100vh;
}

/* Fomulario de criação de cards */
.form {
  width: 70%;
  min-height: 70vh;
  position: fixed;
  top: 0;
  margin: 0 auto;
  background-color: #cab3ff;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.form > input {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 2px solid transparent;
  outline: none;
  border-radius: 8px;
  border: 2px solid #e3e3e3;
  box-shadow: 0px 4px 16px rgba(22, 22, 22, 0.1);
}

.form > input:hover,
.form > input:focus {
  border: 2px solid #7c3aed;
}

.form div:nth-child(1) {
  margin-top: 5px;
}

.form div {
  margin-bottom: 10px;
}

.form input[type=radio] {
  margin-right: 10px;
  cursor: pointer;
}

.form label {
  cursor: pointer;
  font-weight: 600;
}

.form button {
  padding: 1rem;
  background-color: #7c3aed;
  color: #fff;
  font-weight: 600;
  border: 2px solid transparent;
  margin-top: 1rem;
  cursor: pointer;
}

.form button:hover {
  border-color: #eee;
}