@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap");

.boards {
  padding: 4rem;
  background-color: #fff;
  font-family: "Inter";
  position: relative;
}

.menuNavegacaoMobile {
  display: none;
}

.boards > .title {
  position: relative;
  margin-bottom: 3rem;
}

.boards > .title::after {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 10px;
  left: 10ch;
  background-image: url(../../../assets/clip.svg);
}

.pesquisa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 3rem;
}

.pesquisa > select {
  padding: 1rem 1.5rem;
  background-color: #7c3aed;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  border-radius: 8px;
  outline: none;
}

.pesquisa > select option {
  background-color: #ddd;
  color: #000;
  font-weight: 600;
}

.pesquisa > select option:disabled {
  color: #9f9f9f;
}

.areaInput {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.areaInput img {
  position: absolute;
  top: 15px;
  left: 2.5rem;
  cursor: pointer;
}

.input {
  width: 100%;
  border: none;
  height: 3rem;
  background: #fff;
  border: 0.7px solid #e3e3e3;
  box-shadow: 0px 4px 16px rgba(22, 22, 22, 0.1);
  border-radius: 8px;
  margin-left: 1rem;
  font-size: 1rem;
  padding-left: 3.5rem;
  outline: none;
}

.input:focus,
.resultadoPesquisa > a:focus {
  border: 2px solid #7c3aed;
}

.resultadoPesquisa {
  position: absolute;
  top: 3rem;
  z-index: 1000;
  display: block;
  width: 100%;
  min-height: 5rem;
  background-color: #eee;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
}

.resultadoPesquisa > a {
  font-size: 1.1rem;
  display: block;
  width: 100%;
  outline: none;
}

.resultadoPesquisa > a:hover {
  background-color: #ddd;
}

.gridCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.gridCards > div > h3 {
  margin-bottom: 2rem;
}

.afazer {
  position: relative;
}

.afazer::after {
  content: "";
  display: block;
  width: 34px;
  height: 34px;
  position: absolute;
  left: 70px;
  top: -5px;
  background-image: url(../../../assets/afazer.svg);
  background-size: cover;
}

.fazendo {
  position: relative;
}

.fazendo::after {
  content: "";
  display: block;
  width: 34px;
  height: 34px;
  position: absolute;
  left: 80px;
  top: -5px;
  background-image: url(../../../assets/fazendo.svg);
  background-size: cover;
}

.feito {
  position: relative;
}

.feito::after {
  content: "";
  display: block;
  width: 34px;
  height: 34px;
  position: absolute;
  left: 50px;
  top: -5px;
  background-image: url(../../../assets/feito.svg);
  background-size: cover;
}

.criarCard {
  position: fixed;
  bottom: 2rem;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #7c3aed;
  border-radius: 50%;
  color: #fff;
  padding: 10px;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.tabelaAfazeres {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2rem;
}

@media(max-width: 1300px) {
  .boards {
    padding: 1rem 0 0 2rem ;
  }
}

@media(max-width:800px) {
  .menuNavegacaoMobile {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

@media(max-width:604px) {
  .boards > .title {
    margin-top: 10px;
    font-size: 1.4rem;
  }
  
  .pesquisa > select {
    padding: 0.8rem 1rem;
  }
  
  .gridCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .gridCards > div > h3 {
    margin-bottom: 2rem;
  }
  
  .criarCard {
    width: 60px;
    height: 60px;
  }
  
  .tabelaAfazeres {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2rem;
  }
}