.areaCard {
  padding: 24px;
  max-width: 300px;
  min-height: 9rem;
  background: #ffffff;
  box-shadow: 0px 4px 16px #eae2fd;
  border-radius: 8px;
  margin-bottom: 2rem;
  position: relative;
}

.detalhes {
  position: absolute;
  right: 1rem;
  top: 10px;
  font-size: 0.8rem;
  color: #c8b1ff;
  cursor: pointer;
}

.detalhes:hover {
  text-decoration: underline;
}

.card {
  display: flex;
  flex-direction: column;
}

.atrasCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  max-width: 300px;
  min-height: 9rem;
  background: #ffffff;
  box-shadow: 0px 4px 16px #eae2fd;
  border-radius: 8px;
  margin-bottom: 2rem;
  position: relative;
  transform: rotateY(180deg);
  animation: virarCard 1s forwards;
}

@keyframes virarCard {
  to {
    transform: initial;
  }
}

.atrasCard .detalhes {
  position: absolute;
  max-width: 10%;
  left: 1rem;
  top: 10px;
}

.menu > .iconeExcluir {
  position: absolute;
  right: 1rem;
  top: 10px;
  z-index: 1000;
  cursor: pointer;
  background-color: transparent;
}

.iconeExcluir > * path {
  z-index: -1;
  pointer-events: none;
}

.mover > h4 {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.movimentarCard {
  display: flex;
  margin-top: 40px;
}

.movimentarCard > img {
  margin-right: 10px;
  cursor: pointer;
}

.atrasCard .title,
.atrasCard .description,
.atrasCard .hastag {
  display: none;
}

.title {
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  line-break: anywhere;
}

.description {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 0.9rem;
  line-break: anywhere;
  color: #756966;
}

.hastag {
  background: #e2d6ff;
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  padding: 6px;
  font-size: 0.9rem;
  margin-right: 8px;
  color: #7c3aed;
  font-weight: 500;
  line-break: anywhere;
}

@media(max-width:1115px) {
  .areaCard {
    padding: 15px;
    min-width: 180px;
    margin-right: 10px;
  }

  .detalhes {
    top: 8px;
    right: 8px;
    font-size: 0.7rem;
  }

  .title {
    font-size: 0.9rem;
    margin-top: 5px;
  }

  .description,
  .hastag {
    font-size: 0.8rem;
  }
}